In [5]:
import pandas as pd
x = pd.read_csv("../files/input/tbl0.tsv", sep="\t") 
def pregunta_01():
    return(x.shape[0])
if __name__ == "__main__":
    print(pregunta_01())

40

In [9]:
import pandas as pd
x = pd.read_csv("../files/input/tbl0.tsv", sep="\t") 
def pregunta_03():
    return(x.groupby('c1').size().sort_index())
if __name__ == "__main__":
    print(pregunta_03())

c1
A     8
B     7
C     5
D     6
E    14
dtype: int64

In [10]:
import pandas as pd
x = pd.read_csv("../files/input/tbl0.tsv", sep="\t") 
def pregunta_04():
    return(x.groupby('c1')['c2'].mean())
if __name__ == "__main__":
    print(pregunta_04())

c1
A    4.625000
B    5.142857
C    5.400000
D    3.833333
E    4.785714
Name: c2, dtype: float64

In [19]:
import pandas as pd
x = pd.read_csv("../files/input/tbl0.tsv", sep="\t") 
def pregunta_09():
    x['year']=x['c3'].str.split('-').str[0]
    return(x)
if __name__ == "__main__":
    print(pregunta_09())

    c0 c1  c2          c3  year
0    0  E   1  1999-02-28  1999
1    1  A   2  1999-10-28  1999
2    2  B   5  1998-05-02  1998
3    3  A   3  1999-08-28  1999
4    4  C   6  1999-12-01  1999
5    5  A   7  1998-07-28  1998
6    6  A   9  1997-02-28  1997
7    7  B   1  1999-05-10  1999
8    8  E   2  1997-04-12  1997
9    9  B   3  1999-11-23  1999
10  10  C   7  1998-01-17  1998
11  11  C   5  1998-12-28  1998
12  12  D   3  1999-10-15  1999
13  13  E   8  1998-11-01  1998
14  14  B   9  1999-08-12  1999
15  15  D   1  1997-12-01  1997
16  16  E   3  1997-07-28  1997
17  17  D   5  1998-08-12  1998
18  18  E   8  1999-08-24  1999
19  19  E   9  1998-01-23  1998
20  20  E   7  1999-06-22  1999
21  21  E   3  1999-04-24  1999
22  22  D   5  1999-06-25  1999
23  23  A   1  1999-08-25  1999
24  24  E   4  1997-07-26  1997
25  25  E   6  1997-09-24  1997
26  26  A   8  1997-09-28  1997
27  27  E   5  1999-06-22  1999
28  28  A   6  1999-07-29  1999
29  29  C   0  1999-08-22  1999
30  30  A   1  1998-04-26  1998
31  31  D   2  1998-02-24  1998
32  32  E   5  1999-03-24  1999
33  33  B   4  1998-03-23  1998
34  34  B   6  1999-04-21  1999
35  35  D   7  1999-02-29  1999
36  36  B   8  1997-05-21  1997
37  37  C   9  1997-07-22  1997
38  38  E   1  1999-09-28  1999
39  39  E   5  1998-01-26  1998

In [21]:
import pandas as pd
x = pd.read_csv("../files/input/tbl0.tsv", sep="\t") 
def pregunta_10():
    x['c2'] = x['c2'].astype(str)
    return(x.groupby('c1')['c2'].agg(':'.join).reset_index())
if __name__ == "__main__":
    print(pregunta_10())

  c1                           c2
0  A              2:3:7:9:1:8:6:1
1  B                5:1:3:9:4:6:8
2  C                    6:7:5:0:9
3  D                  3:1:5:5:2:7
4  E  1:2:8:3:8:9:7:3:4:6:5:5:1:5

In [23]:
import pandas as pd
x = pd.read_csv("../files/input/tbl1.tsv", sep="\t") 
def pregunta_11():
    x['c4'] = x['c4'].astype(str)
    return(x.groupby('c0')['c4'].agg(','.join).reset_index())
if __name__ == "__main__":
    print(pregunta_11())

    c0       c4
0    0    b,g,f
1    1    a,f,c
2    2  f,e,a,c
3    3      a,b
4    4  f,g,d,a
5    5      c,d
6    6    g,d,a
7    7      b,a
8    8  d,e,a,f
9    9  d,b,g,f
10  10  d,c,f,b
11  11  d,e,a,c
12  12  g,e,f,b
13  13      c,f
14  14      d,b
15  15      f,e
16  16    e,b,f
17  17      g,a
18  18  e,c,f,a
19  19      e,a
20  20      e,f
21  21    c,b,g
22  22    c,f,a
23  23    f,a,d
24  24      c,d
25  25    e,d,c
26  26    a,e,f
27  27    c,a,g
28  28      f,e
29  29  f,c,a,g
30  30      b,f
31  31      b,f
32  32      a,c
33  33    b,f,c
34  34    f,a,e
35  35      a,f
36  36      c,a
37  37  c,a,e,f
38  38      e,d
39  39    f,a,d

In [36]:
import pandas as pd
x = pd.read_csv("../files/input/tbl2.tsv", sep="\t") 
def pregunta_12():
    x['c5b'] = x['c5b'].astype(str)
    x['c5']=x['c5a']+":"+x['c5b']

    return(x.groupby('c0')['c5'].agg(','.join).reset_index())
if __name__ == "__main__":
    print(pregunta_12())

    c0                                   c5
0    0        jjj:3,bbb:0,ddd:9,ggg:8,hhh:2
1    1              ccc:2,ddd:0,aaa:3,hhh:9
2    2              ddd:2,ggg:5,ccc:6,jjj:1
3    3              hhh:9,iii:5,eee:7,bbb:1
4    4              iii:6,ddd:5,eee:4,jjj:3
5    5        bbb:2,hhh:0,ccc:4,fff:1,aaa:7
6    6  aaa:5,fff:8,ddd:2,iii:0,jjj:7,ccc:1
7    7                    fff:3,hhh:1,ddd:2
8    8  eee:4,ccc:5,iii:9,fff:7,ggg:6,bbb:0
9    9  bbb:7,jjj:9,fff:5,iii:4,ggg:2,eee:3
10  10        hhh:6,eee:4,iii:0,fff:2,jjj:1
11  11                    bbb:7,iii:6,ggg:9
12  12        bbb:9,aaa:3,ccc:6,fff:4,eee:2
13  13                    aaa:8,ddd:5,jjj:1
14  14        ccc:0,jjj:6,fff:7,ddd:3,aaa:2
15  15              ccc:0,eee:6,bbb:9,ddd:3
16  16  bbb:6,iii:3,hhh:5,fff:4,ggg:9,ddd:2
17  17                    hhh:4,jjj:5,ccc:9
18  18                    ccc:1,iii:6,fff:9
19  19                    bbb:9,aaa:3,fff:1
20  20                    ddd:9,iii:2,aaa:4
21  21                    ccc:5,fff:8,iii:7
22  22                    eee:3,jjj:2,ddd:7
23  23        jjj:1,ggg:0,ccc:7,ddd:9,bbb:3
24  24  jjj:6,ccc:0,aaa:1,hhh:9,iii:7,ggg:8
25  25  fff:3,eee:6,iii:4,bbb:7,ddd:0,ccc:1
26  26                    fff:0,ddd:5,ccc:4
27  27        ggg:6,hhh:3,ddd:9,ccc:0,jjj:7
28  28        hhh:6,jjj:0,eee:5,iii:7,ccc:3
29  29  eee:1,fff:4,aaa:2,ccc:7,ggg:0,ddd:6
30  30        ccc:6,aaa:9,eee:5,ddd:0,bbb:3
31  31  bbb:7,hhh:1,aaa:6,iii:4,fff:9,ddd:5
32  32              fff:3,ccc:1,ggg:2,eee:5
33  33  iii:7,ggg:3,ddd:0,jjj:8,hhh:5,ccc:1
34  34        hhh:6,ccc:3,jjj:0,bbb:8,ddd:7
35  35                    aaa:0,fff:5,ddd:3
36  36        ddd:5,jjj:2,iii:7,ccc:0,bbb:4
37  37                    eee:0,fff:2,hhh:6
38  38                    fff:9,iii:2,eee:0
39  39                    hhh:8,ggg:3,jjj:5

In [37]:
import pandas as pd
x = pd.read_csv("../files/input/tbl0.tsv", sep="\t") 
y = pd.read_csv("../files/input/tbl2.tsv", sep="\t") 
def pregunta_13():
    union = pd.merge(x, y, on='c0', how='inner')

    return(union)
if __name__ == "__main__":
    print(pregunta_13())

     c0 c1  c2          c3  c5a  c5b
0     0  E   1  1999-02-28  jjj    3
1     0  E   1  1999-02-28  bbb    0
2     0  E   1  1999-02-28  ddd    9
3     0  E   1  1999-02-28  ggg    8
4     0  E   1  1999-02-28  hhh    2
..   .. ..  ..         ...  ...  ...
170  38  E   1  1999-09-28  iii    2
171  38  E   1  1999-09-28  eee    0
172  39  E   5  1998-01-26  hhh    8
173  39  E   5  1998-01-26  ggg    3
174  39  E   5  1998-01-26  jjj    5

[175 rows x 6 columns]

In [41]:
import pandas as pd
x = pd.read_csv("../files/input/tbl0.tsv", sep="\t") 
y = pd.read_csv("../files/input/tbl2.tsv", sep="\t") 
def pregunta_13():
    union = pd.merge(x, y, on='c0', how='inner')
    return(union.groupby('c1')['c5b'].sum())
if __name__ == "__main__":
    print(pregunta_13())

c1
A    146
B    134
C     81
D    112
E    275
Name: c5b, dtype: int64

In [42]:
import pandas as pd
x = pd.read_csv("../files/input/tbl0.tsv", sep="\t") 
def pregunta_01():
    return(x.shape[0])
if __name__ == "__main__":
    print(pregunta_01())

40

In [ ]:
import pandas as pd
x = pd.read_csv("../files/input/tbl0.tsv", sep="\t") 
def pregunta_10():
    x['c2']=x['c2'].astype(str)
    x.groupby('c1')['c2'].apply(lambda y: ':'.join(map(str, sorted(y)))).reset_index()
    return(x)
if __name__ == "__main__":
    print(pregunta_10())

    """
    Construya una tabla que contenga `c1` y una lista separada por ':' de los
    valores de la columna `c2` para el archivo `tbl0.tsv`.

    Rta/
                                 c2
    c1
    A               1:1:2:3:6:7:8:9
    B                 1:3:4:5:6:8:9
    C                     0:5:6:7:9
    D                   1:2:3:5:5:7
    E   1:1:2:3:3:4:5:5:5:6:7:8:8:9
    """

    c0 c1 c2          c3
0    0  E  1  1999-02-28
1    1  A  2  1999-10-28
2    2  B  5  1998-05-02
3    3  A  3  1999-08-28
4    4  C  6  1999-12-01
5    5  A  7  1998-07-28
6    6  A  9  1997-02-28
7    7  B  1  1999-05-10
8    8  E  2  1997-04-12
9    9  B  3  1999-11-23
10  10  C  7  1998-01-17
11  11  C  5  1998-12-28
12  12  D  3  1999-10-15
13  13  E  8  1998-11-01
14  14  B  9  1999-08-12
15  15  D  1  1997-12-01
16  16  E  3  1997-07-28
17  17  D  5  1998-08-12
18  18  E  8  1999-08-24
19  19  E  9  1998-01-23
20  20  E  7  1999-06-22
21  21  E  3  1999-04-24
22  22  D  5  1999-06-25
23  23  A  1  1999-08-25
24  24  E  4  1997-07-26
25  25  E  6  1997-09-24
26  26  A  8  1997-09-28
27  27  E  5  1999-06-22
28  28  A  6  1999-07-29
29  29  C  0  1999-08-22
30  30  A  1  1998-04-26
31  31  D  2  1998-02-24
32  32  E  5  1999-03-24
33  33  B  4  1998-03-23
34  34  B  6  1999-04-21
35  35  D  7  1999-02-29
36  36  B  8  1997-05-21
37  37  C  9  1997-07-22
38  38  E  1  1999-09-28
39  39  E  5  1998-01-26